.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.8rem 0 2.5rem;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;

    p {
      color: $primary_orange;
    }
  }

  .username {
    margin: 0 0.8rem 0 0;
  }

  .img-container {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: transparent;

    img {
      border-radius: 50%;
    }
  }
  .option-icon {
    color: $font_dark_gray;
    margin: 0 0 0 2rem;

    &:focus,
    &:active {
      outline: none;
      color: $primary_orange;
    }
  }
}
