.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px 0 25px;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;

    p {
      color: $primary_orange;
    }
  }

  .username {
    margin: 0 8px 0 0;
  }

  .img-container {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;

    img {
      border-radius: 50%;
    }
  }
  .option-icon {
    color: $font_dark_gray;
    margin: 0 0 0 20px;

    &:focus,
    &:active {
      outline: none;
      color: $primary_orange;
    }
  }
}
