.notifications-container {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
    .notifications-icon {
      color: $primary_orange;
    }
  }

  .orange-circle {
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: $primary_orange;
    font-size: 1rem;
    font-family: 'Sans Pro Semi-Bold';
    color: $primary_white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .notifications-icon {
    color: $font_dark_gray;
  }
}
