.dashboard-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 27.5rem;
  height: 7rem;
  width: 100%;
  position: absolute;
  top: 7rem;
  font-family: 'Sans Pro Semi-Bold', sans-serif;
  color: $font_dark_gray;
  background-color: $secondary_light_gray;
  border-bottom: solid $secondary_border_gray 0.1rem;
  z-index: 1;

  .mobile-menu {
    color: $font_dark_gray;
    margin-left: 3rem;

    @media only screen and (min-width: 850px) {
      visibility: hidden;
    }

    &:focus,
    &:active {
      color: $primary_orange;
    }
  }

  @media only screen and (max-width: 850px) {
    justify-content: center;
    padding: 0;
  }
}
.brands-container {
  height: 100vh;
  overflow-y: scroll;
}
.brands-grid-container {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  column-gap: 5rem;
  padding: 0 0 0 27.5rem;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 850px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0 3rem 0;
    width: 100%;
  }
}

.brands-flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem 0 3rem 0;
  width: 100%;
  margin: 0 0 0 30rem;
}
