.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  input {
    margin: 1.5rem;
    height: 3.5rem;
    width: 27rem;
    border-radius: 2rem;
    border: 0;
    padding: 1rem;
    font-size: 1.1rem;
  }

  .title-login {
    display: flex;
    justify-content: center;
    font-family: 'Sans Pro Semi-Bold', sans-serif;
  }
  .icon {
    color: $font_dark_gray;
  }
}
