.side-nav {
  width: 25rem;
  height: 100%;
  position: absolute;
  left: 0;
  border-right: solid $secondary_border_gray 0.1rem;
  background-color: $primary_white;
  z-index: 2;
  @media only screen and (max-width: 850px) {
    overflow-y: scroll;
  }

  ul {
    margin: 8.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    list-style: none;

    @media only screen and (max-width: 850px) {
      margin: 11.5rem 0 0 0;
    }
  }
  li {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    nav-index: 0;

    &:focus,
    &:active {
      background-color: $hover_orange;
      outline: none;

      p {
        color: $primary_orange;
      }
      .option-icon {
        color: $primary_orange;
      }
    }
  }

  .nav-option {
    margin: 1.7rem 0 1.7rem 3rem;
    color: $font_light_gray;
    font-family: 'Sans Pro Semi-Bold', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    p {
      margin: auto 0 0 1.5rem;
    }

    .arrow {
      position: absolute;
      right: 2rem;

      &:focus,
      &:active {
        outline: none;
        color: $primary_orange;
      }
    }
  }

  .close-icon {
    position: absolute;
    top: 8.5rem;
    right: 2rem;
    color: $font_light_gray;
  }
}
.left-margin {
  margin: 1.7rem 0 1.7rem 5rem !important;
}

.horizontal-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5rem 0 0;
  position: absolute;
  top: 0;
  height: 7rem;
  width: 100%;
  border-bottom: solid $secondary_border_gray 0.1rem;
  background-color: $primary-white;
  z-index: 3;
}
