*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './constants.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


html {
  font-size: 62.5%;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  position: relative;
  font-size: 1.6rem;
  overflow-x: hidden;
  background: rgb(242, 242, 242);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(242, 242, 242, 1) 78%
  );
  height: 100%;
  width: 100%;
  background-size: cover;
}

.blur-on {
  filter: blur(10px);
}
