*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './constants.scss';

@font-face {
  font-family: 'Sans Pro';
  src: url('./../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'Sans Pro Semi-Bold';
  src: url('./../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}

@font-face {
  font-family: 'Sans Pro Bold';
  src: url('./../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

body {
  position: relative;
  font-family: 'Sans Pro', sans-serif;
  font-size: 1.6rem;
  background-color: $primary_color;
  height: 100%;
  width: 100%;

  @media only screen and (max-width: 850px) {
    overflow: hidden;
  }
}

.blur-on {
  filter: blur(10px);
}

.main-btn {
  background-color: $primary_orange;
  width: 200px;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: 'Sans Pro Semi-Bold', sans-serif;
  color: $primary_white;
  border: none;
  cursor: pointer;
}

.white-btn {
  @extend .main-btn;
  width: 170px;
  background-color: $primary_white;
  border: solid $secondary_border_gray 1px;
  color: $font_dark_gray;
}
