$primary_color: #f5f6fa;
$primary_white: #ffffff;
$primary_orange: #e9812c;

$secondary_light_gray: #f9fafc;
$secondary_darker_gray: #eff1fa;
$secondary_border_gray: #dfe2e5;

$font_dark_gray: #354052;
