
$primary_color: #e2ecee;
$primary_white: #ffffff;
$primary_purple: #6360f7;
$primary_teal: #10746f;
$primary_black: #000000;

$secondary_gray: #8f8f8f;
$secondary_light_gray: #dbdbdb;
$secondary_dark_gray: #4e4e4e;
$secondary_light_black: rgba(0, 0, 0, 0.03);
